<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="外骨骼-导出urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.053224 -0.32087 0.050552"
        rpy="0 0 0" />
      <mass
        value="2.8869" />
      <inertia
        ixx="0.0031658"
        ixy="9.7103E-06"
        ixz="2.9819E-11"
        iyy="0.0054325"
        iyz="-2.2004E-11"
        izz="0.0024856" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://外骨骼-导出urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://外骨骼-导出urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="hip_ab_link">
    <inertial>
      <origin
        xyz="-0.066133 0.083961 0.051931"
        rpy="0 0 0" />
      <mass
        value="0.70297" />
      <inertia
        ixx="0.0011657"
        ixy="9.7055E-06"
        ixz="0.00045578"
        iyy="0.0015946"
        iyz="9.7056E-06"
        izz="0.0016625" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://外骨骼-导出urdf/meshes/hip_ab_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://外骨骼-导出urdf/meshes/hip_ab_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_ab"
    type="revolute">
    <origin
      xyz="0. 0. -0."
      rpy="0 0 0." />
    <parent
      link="base_link" />
    <child
      link="hip_ab_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_flex_link">
    <inertial>
      <origin
        xyz="-0.25942 -0.0067284 0.1368"
        rpy="0 0 0" />
      <mass
        value="3.3538" />
      <inertia
        ixx="0.0027429"
        ixy="2.7104E-07"
        ixz="1.3164E-07"
        iyy="0.0040103"
        iyz="-8.638E-05"
        izz="0.0059395" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://外骨骼-导出urdf/meshes/hip_flex_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://外骨骼-导出urdf/meshes/hip_flex_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_flex"
    type="revolute">
    <origin
      xyz="-0.014726 0.021 0.117"
      rpy="-1.5708 0.13574 1.5708" />
    <parent
      link="hip_ab_link" />
    <child
      link="hip_flex_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="knee_link">
    <inertial>
      <origin
        xyz="0.038094 0.19315 0.027899"
        rpy="0 0 0" />
      <mass
        value="0.75992" />
      <inertia
        ixx="0.0023299"
        ixy="-1.0766E-08"
        ixz="-5.7334E-09"
        iyy="0.00047703"
        iyz="4.2245E-09"
        izz="0.0021504" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://外骨骼-导出urdf/meshes/knee_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://外骨骼-导出urdf/meshes/knee_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee"
    type="revolute">
    <origin
      xyz="-0.52261 0.019174 0.11427"
      rpy="-3.1416 0 -1.5382" />
    <parent
      link="hip_flex_link" />
    <child
      link="knee_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>